
.title{
	border: none;
	outline: none;
	padding-top: 10px;
	font-size: 3em;
	width: 100%;
	border-bottom: 1px solid #f5f5f0;
	margin-bottom: 30px;
}
.content{
	font-size: 2em;
	outline: none;
	border: 5px solid #f5f5f0;
	height: 100%;
	width: 100%;
	padding-bottom: 50px;
}
#tooltip {
	background-color: #000;
	display: inline-block;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border: 1px solid;
	border-color: #3333FF;
}