html{
	font-size: 1em;
}
.jumbotron{
	margin: 0.5em 1em 0.5em 1em;
	color: #F5E356;
	background-color: #34888C;
	text-align: center;
	border-radius: 1em;
	padding-top: 0.5em;
}
#editor{
	resize: none;
	width: 50vw;
	padding-bottom: 5vh;
	margin: 3em 0 0 10em;
	border-radius: 0.5em;
	outline: none;
	padding-left: 0.5em;
}
#view{
	border: 1px solid #AAAAAA;
	padding-bottom: 50px;
	margin-bottom: 10px;
}
h3{
	padding-top: 0;
}
p{
	user-select: none;
	outline: none;
}
.init{
	font-size: 2em;
	color: #AAAAAA;
}
.content{
	user-select: none;
	outline: none;
}
.title{
	outline: none;
}